
/* Position Styles */

.__rta_pos_common {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  position: fixed
}
.__rta_pos_bottom-full {
  bottom: 0px;
  left: 0px;
  width: 100%
}

.__rta_pos_top-full {
  top: 0px;
  left: 0px;
  width: 100%;
}
.__rta_pos_top-left {
    top: 0px;
    left: 0px;
    width: 380px;
}
.__rta_pos_top-right {
  top: 0px;
  right: 0px;
  width: 380px;
}
.__rta_pos_bottom-right {
  bottom: 0px;
  right: 0px;
  width: 380px;
}
.__rta_pos_bottom-left {
  bottom: 0px;
  left: 0px;
  width: 380px;
}
.__rta_pos_bottom {
  bottom: 0px;
  left: 390px;
  width: calc(100% - 780px);
}
.__rta_pos_top {
  top: 0px;
  left: 390px;
  width: calc(100% - 780px);
}


/* Default Styles */

.__rta_wrapper {
  font-family: Lato,Helvetica Neue,Arial,Helvetica,sans-serif;
  font-size: 13px;
  width: 100%;
  min-height: 40px;
  color: white;
  z-index: 50;
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
}


/* Themes */

.__rta_theme_bordered {
  border: 1px solid grey;
  margin: 3px;
  width: 100%-8px;
}
.__rta_theme_flat {
  margin: 3px;
  width: 100%-8px;
}
.__rta_theme_shadowed {
  border: 1px solid grey;
  margin: 3px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.35);
  width: 100%-8px;
}
.__rta_theme_shadowed {
  margin: 3px;
  width: 100%-8px;
  border-radius: 3px;
}
.__rta_theme_rounded {
  border: 1px solid grey;
  margin: 3px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.35);
  width: 100%-8px;
  border-radius: 3px;
}


/* Container */

.__rta_theme_container {
  width: 100%;
  overflow: hidden;
};


/* Alert Styles */


.__rta_type_error {
  background-color: rgba(244, 67, 54, 0.8);
  border-color: rgba(244, 67, 54, 1);
}
.__rta_type_success {
  background-color: rgba(76, 175, 80, 0.8);
  border-color: rgba(76, 175, 80, 1);
}
.__rta_type_basic {
  background-color: rgba(192, 192, 192, 0.8);
  border-color: rgba(192, 192, 192, 1);
}
.__rta_type_warning {
  background-color: rgba(255, 152, 0, 0.8);
  border-color: rgba(255, 152, 0, 1);
}
.__rta_type_info {
  background-color: rgba(33, 150, 243, 0.8);
  border-color: rgba(33, 150, 243, 1);
}